@import url('https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #F7F9FC;
  background-image: url('images/background2.jpg');
  background-size: cover;
}

h1, .secheader-color {
  font-family: 'Varela Round';
  color: #440a67;
}

h2 {
  font-family: 'Varela Round';
  color: #fdb827;
}

h3 {
  font-family: 'Varela Round';
  color: #440a67;
}

p {
  font-family: 'Varela Round';
}

a {
  font-family: 'Varela Round';
  text-decoration: none;
  color: black;
}

.button-orange:hover {
  background-color: #ffbe0f;
}

li {
  font-family: 'Varela Round';
  font-size: 17px;
}

.img-circle {
  border-radius: 50%;
}

.card-white {
  padding: 30px;
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  text-align: center;
  background: white;
  background: linear-gradient(to right bottom,
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.3)
    );
  border-radius: 20px;
  z-index: 3;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.button-orange {
  background-color: #b4aee8;
  padding: 10px 25px;
  text-align: center;
  font-family: 'Varela Round';
  border-radius: 5px;
}

#icon-bigger {
  font-size: 30px;
  transition: font-size 1s;
}

#icon-bigger:hover {
  font-size: 50px;
}

.project-card {
  background-color: white;
}

.img-resize:hover {
  height: 120px;
  transition: 1s;
}

.project-link {
  font-style: italic;
}

.project-link:hover {
  color: #ffbe0f;
}

table {
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
